<p id="notice"><%= notice %></p>

<h1>Cvs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Education</th>
      <th>Experience</th>
      <th>Skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cvs.each do |cv| %>
      <tr>
        <td><%= raw(cv.education) %></td>
        <td><%= raw(cv.experience) %></td>
        <td><%= cv.skills %></td>
        <td><%= link_to 'Show', cv %></td>
        <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
        <td><%= link_to 'Destroy', cv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
