<div class="container">
</div>
<div class="container">
  <div class="span3 well">
    <center>
      <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle"></a>
      <h3>Joe Sixpack</h3>
        <em>click my face for more</em>
    </center>
  </div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= current_user.email %>
  <p>
    <strong>Education:</strong>
    <%= @cv.education %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= @cv.experience %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= @cv.skills %>
  </p>

  <p>
    <%= link_to 'Download Report', cv_path(@cv,format: 'pdf') %>
  </p>
</div>
