<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Email:</strong>
    <%= current_user.email %>
  <p>
    <strong>Education:</strong>
    <%= @cv.education %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= @cv.experience %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= @cv.skills %>
  </p>

  <p>
    <%= link_to 'Download Report', cv_path(@cv,format: 'pdf') %>
  </p>
</div>
